/* app css stylesheet */

.column {
  float: left;
  width: 200px;
  margin-left: 10px;
  padding: 10px;
  border: 1px black solid;
}

.column > h3 {
  border-bottom: 1px black solid;
}

.card {
  border: 1px black solid;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.card:hover {
  background-color: grey;
}

.card.dragging {
  position: absolute;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  z-index: 99;
}

.x-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
